.currency{
    display: flex;
    align-items:flex-start
}

.content-menu-drop{
    display:flex;
    justify-content:center
}

.input-data {
    margin-top: 20px;
    width: 200px;
    border-radius:20px;
    text-align: center
}



